---
import Home from "../sections/Home.astro";
import AboutUs from "../sections/AboutUs.astro";
import Products from "../sections/Products.astro";
import ContactUs from "../sections/ContactUs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nike - Just Do It">
  <Home />
  <div class="px-[70px]">
    <Products />
  </div>

  <AboutUs />

  <div class="px-[70px]">
    <ContactUs />
  </div>
</Layout>
