---
import NavLink from "./NavLink.astro";
---

<nav
  class="hidden h-full w-full items-center justify-between text-lg tracking-wide lg:flex"
>
  <section>
    <img src="/header-logo.svg" alt="Nike Logo" />
  </section>

  <ul class="flex gap-x-[80px] text-slate-gray">
    <NavLink href="#home" title="Home" />
    <NavLink href="#about-us" title="About Us" />
    <NavLink href="#products" title="Products" />
    <NavLink href="#contact-us" title="Contact Us" />
  </ul>

  <section>
    <button class="font-montserrat leading-normal">Sign In</button>
  </section>
</nav>
