---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<div class="px-4 py-8">
  <slot />
  <h3>{title}</h3>
  <p class="text-pretty font-montserrat text-lg leading-7 text-slate-gray">
    {content}
  </p>
</div>
