---
interface Props {
  href?: string;
  title: string;
}

const { href = "#", title } = Astro.props;
---

<li>
  <a
    class="duration-400 p-2 font-montserrat leading-normal decoration-coral-red decoration-4 underline-offset-4 transition ease-in-out hover:underline active:font-bold active:text-coral-red"
    href={href}
    onclick="return false">{title}</a
  >
</li>
