---
interface Props {
  cant: string;
  unit: string;
}

const { cant, unit } = Astro.props;
---

<div>
  <span class="font-palanquin text-2xl font-extrabold lg:text-4xl">{cant}</span>
  <p class="font-palanquin text-lg text-slate-gray">{unit}</p>
</div>
