---
import Hero from "../sections/contactUs/Hero.astro";
import AboutCards from "../sections/contactUs/AboutCards.astro";
import SpecialOffer from "./contactUs/SpecialOffer.astro";
import CostumerSays from "./contactUs/CostumerSays.astro";
---

<section id="about-us" class="mb-[180px]">
  <div class="mb-[120px] flex flex-col gap-y-[180px] px-[70px]">
    <Hero />
    <AboutCards />
    <SpecialOffer />
  </div>

  <CostumerSays />
</section>
