---
import Hero from "../sections/contactUs/Hero.astro";
import AboutCards from "../sections/contactUs/AboutCards.astro";
---

<section id="contact-us" class="mb-[180px] flex flex-col gap-y-[180px]">
  <Hero />
  <AboutCards />
</section>
