---
import { ChangeShoe } from "../components/preact/ChangeShoe.tsx";
import Stats from "../components/Stats.astro";
import NikeButton from "../components/NikeButton.astro";
import Strong from "../components/Strong.astro";
---

<section
  id="home"
  class="mb-[180px] flex min-h-screen w-full gap-10 ps-[70px] xl:flex-row"
>
  <section class="relative flex w-2/5 flex-col items-start justify-center">
    <h4 class="my-6 font-montserrat text-xl text-coral-red">
      Our Summer collections
    </h4>

    <h1
      class="leading-1 relative z-10 mb-10 max-w-[700px] text-balance pr-10 font-palanquin text-8xl font-bold"
    >
      The New Arrival <Strong text="Nike" /> Shoes
    </h1>

    <p
      class="mb-16 max-w-[500px] text-balance font-montserrat text-lg leading-8 text-slate-gray"
    >
      Discover stylish Nike arrivals, quality comfort, and innovation for your
      active life.
    </p>

    <NikeButton text="Shop Now" />

    <section class="mt-24 flex gap-x-16">
      <Stats cant="1k+" unit="Brands" />
      <Stats cant="500+" unit="Shops" />
      <Stats cant="250k+" unit="Customers" />
    </section>
  </section>

  <ChangeShoe client:visible />
</section>
