---
import Strong from "../../components/Strong.astro";
import CustomerCard from "../../components/CustomerCard.astro";
---

<section class="content bg-pale-blue py-[100px]">
  <header class="mb-[70px] flex flex-col items-center">
    <h2 class="mb-6 font-palanquin text-4xl font-extrabold">
      What Our <Strong text="Costumers" /> Say
    </h2>
    <p>
      Hear genuine stories from our satisfied customers about their exceptional
      experiences with us.
    </p>
  </header>

  <main class="flex justify-evenly">
    <CustomerCard
      src="/customer1.jpeg"
      name="Morich Brown"
      content="The attention to detail and the quality of the product exceeded my expectations. Highly recommended!"
      puntuation="4.5"
    />

    <CustomerCard
      src="/customer2.svg"
      name="Lota Mongeskar"
      content="The product not only met but exceeded my expectations. I'll definitely be a returning customer!"
      puntuation="4.6"
    />
  </main>
</section>

<style>
  p {
    @apply mb-6 max-w-[550px] text-center font-montserrat text-lg leading-7 text-slate-gray;
  }
</style>
